.tabs1 {
    display: flex;
}

input[type="radio"] {
    display: none;
}

label1 {
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.tab-content1 {
    display: none;
    padding: 20px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}