{% extends 'base.html.twig' %}

{% block title %}Edit Salle{% endblock %}

{% block body %}
    <h1>Edit Salle</h1>

    {{ include('front_salle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_front_salle_index') }}">back to list</a>

    {{ include('front_salle/_delete_form.html.twig') }}
{% endblock %}
